{% extends "base.html" %}
{% block content %}
    <div class='article'>
        <div class="content-title">
            <h1>{{ article.title }}</h1>
            {% include "metadata.html" %}
        </div>
	{% if article.toc %}
	<h3>Contents:
	    <h4>
	        <nav class="toc">
	        {{ article.toc }}
	        </nav>
	    </h4>
	</h3>
	{% endif %}
	
        <div>{{ article.content }}</div>
	
        <hr>

	{% include "twitter.html" %}
    {% if DISQUS_SITENAME %}
        <h2>Comments</h2>
        {% include "disqus.html" %}
    {% endif %}
    </div>
{% endblock %}
